.categories-cell {
  position: relative; }
  .categories-cell .categories-interaction {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: -30px;
    right: -30px; }
    .categories-cell .categories-interaction .categories-button {
      user-select: none;
      padding: 14px 24px;
      transition: 0.14s ease; }
      .categories-cell .categories-interaction .categories-button:hover {
        background-color: #6D9EE8;
        color: #fff; }
