@import "../../Mixins";

.main-banner-container{
    position: relative;

    .Banner-Container{
        @include size(100%, auto);
        display: -webkit-box;
        transition: 0.5s ease;
    
        .banner{
            @include size(100%, 100%);
    
            &.nb1{background-color: #6D9EE8;}
            &.nb2{background-color: rgb(0, 216, 187);}
            &.nb3{background-color: rgb(216, 86, 0);}
            &.nb4{background-color: rgb(216, 0, 162);}
        }
    }
}