.main-banner-container {
  position: relative; }
  .main-banner-container .Banner-Container {
    width: 100%;
    height: 315px;
    display: -webkit-box;
    transition: 0.5s ease; }
    .main-banner-container .Banner-Container .banner {
      width: 100%;
      height: 100%; }
      .main-banner-container .Banner-Container .banner.nb1 {
        background-color: #6D9EE8; }
      .main-banner-container .Banner-Container .banner.nb2 {
        background-color: #00d8bb; }
      .main-banner-container .Banner-Container .banner.nb3 {
        background-color: #d85600; }
      .main-banner-container .Banner-Container .banner.nb4 {
        background-color: #d800a2; }
